@tailwind base;

@tailwind components;


@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* 
@media (max-width: theme("screens.lg")) {
    .notification{
      background: salmon; 
    } 
  }

  @media screen(lg)  {
    .notification{
      background: salmon; 
    } 
  }

 */

@font-face {
  font-family: 'Superclarendon';
  src: local('Superclarendon'), url(./fonts/Superclarendon.ttf) format('ttf');
}


